*.env
.cursorignore
.cursor/
infos.txt
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
webapp/requirements.txt
gui_spector/resources/datasets/
gui_spector/resources/examples/
gui_spector/resources/runs/
/webapp/media/